.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata
.html

~*
*.gmt
limma*

# Workflow Data/Results files
#https://stackoverflow.com/questions/40460216/how-do-i-make-git-ignore-symlink
resources/
results/
expression_data/
figures/
00_archive/
raw_counts/
qc_data/
references/
species_genomes
samples/
presentations/

# symlinks
expression_data
figures
references
resources
results
