.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata
.html

# Workflow Data/Results
#https://stackoverflow.com/questions/40460216/how-do-i-make-git-ignore-symlink
resources
resources/
results/
references/notes.txt
expression_data/
figures/
DEGs/
00_archive/
raw_counts/
qc_data/
references/
species_genomes
limma*
samples/
presentations/
~*
*.gmt
GO_enrichment/
env/
motif_analysis/
sashimi_plot.R
splicing/
star/
time_course/
p.value_to_negLog10P_conversion_table.csv
pvivax_vs_pfalciparum/
